<form method = "post" action="/students">
  <label for ="first_name">First Name:</label>
  <input id="first_name" type="text" name="first_name" />

  <label for ="last_name">Last Name:</label>
  <input id="last_name" type="text" name="last_name" />

  <label for="select_house">Select a house:</label>
  <select id="select_house" name="house_id">
    <option value="Griffindor">
      Griffindor
    </option>
    <option value="Hufflepuff">
      Hufflepuff
    </option>
    <option value="Ravenclaw">
      Ravenclaw
    </option>
    <option value="Slytherin">
      Slytherin
    </option>
  </select>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age" />

  <input type="submit" value="Submit" />
</form>
